@import url(style.css);

#product-listing-container-section {
    padding: 40px 0px;
}

.dsc-product-listing-image {
    width: 69px;
    height: 69px;
    display: block;
}

.dsc-product-listing-btn {
    height: 20px;
    width: auto;
    cursor: pointer;
    margin: 5px;
}