@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-yellow: #FFE500;
    --color-light-gray: #E8E8E8;
    --color-gray: #636363;
    --color-white: #fff;
    --color-border-gray: #d9d9d9;
    --color-green: #0CAF1D;
    --color-blue: #3483FA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

html, body {
    background-color: var(--color-light-gray);
}

header {
    background-color: var(--color-yellow);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav {
    color: var(--color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 14px;
    font-weight: 700;
}

main {
    padding: 0 20px;
}

.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dsc-card {
    border: 1px solid var(--color-border-gray);
    background-color: var(--color-white);
    border-radius: 4px;
}

.dsc-btn-page-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
}

@media (min-width: 576px) {
    .dsc-btn-page-container {
    width: 220px;
}
}

.dsc-btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dsc-btn-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.dsc-btn-white {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.dsc-mb20 {
    margin-bottom: 20px;
}

.dsc-line-bottom {
    border-bottom: 1px solid var(--color-border-gray);
}
